.banner-container {
      background-image: url('https://i.ibb.co.com/G3gSrWB/scandinavian-interior-mockup-wall-decal-background-1.png');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      min-height: 90vh;
}